/.vagrant/
/app/routes/web.local.php
/node_modules/
/public/assets/
/public/hot/
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor/
/.env
/.phpstorm.meta.php
/_ide_helper.php
_ide_helper_models.php
/auth.json
/composer.phar
/phpunit.xml
.DS_Store
npm-debug.log
