/.idea/**/profiles_settings.xml
/.idea/dataSources/
/.idea/dictionaries/
/.idea/*.ids
/.idea/*.local.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.vagrant/
/app/.DS_Store
/app/routes/web.local.php
/node_modules/
/public/assets/
/public/hot/
/public/storage
/public/mix-manifest.json
/storage/.DS_Store
/storage/*.key
/vendor/
/.DS_Store
/.env
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/auth.json
/composer.phar
/phpunit.xml
npm-debug.log
