/.idea/dataSources/
/.idea/*.ids
/.idea/*.local.xml
/.idea/vcs.xml
/.idea/workspace.xml
/app/storage/*.key
/app/storage/local.sqlite
/node_modules/
/public/assets/
/public/hot/
/public/storage/
/public/mix-manifest.json
/vendor/
/.env
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/after.sh
/aliases
/Homestead.yaml
/phpunit.xml
/Vagrantfile
