// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.sidebar-menu > li > a > .ra {
  display: inline-block;
  width: 20px;
}

.btn-app > .ra {
  font-size: 20px;
  display: block;
}

.btn-app.btn-block {
  margin: 0;
}

.box-body > p:last-child,
.box-footer > p:last-child {
  margin-bottom: 0;
}

.nyi {
  color: #aaa;
  cursor: not-allowed;
  text-decoration: line-through;
}
