.sidebar-menu > li > a > .ra {
  display: inline-block;
  width: 20px;
}

.btn-app > .ra {
  font-size: 20px;
  display: block;
}

.btn-app.btn-block {
  margin: 0;
}

.box-body > p:last-child,
.box-footer > p:last-child {
  margin-bottom: 0;
}

.nyi {
  color: #aaa;
  cursor: not-allowed;
  text-decoration: line-through;
}

// Allow inline select elements.
.form-control.form-inline {
  width:auto;
  display:inline-block;
}

.align-middle {
  vertical-align: middle !important;
}

// Construction
.barren-land {
  margin-top: 10px;
  font-weight: normal;
}

// Notifications dropdown
.notifications-menu .menu > li > a {
  overflow: auto !important;
  text-overflow: unset !important;
  white-space: normal !important;

  .fa {
    width: 15px !important;
  }
}

.navbar-nav > .notifications-menu > .dropdown-menu {
  width: 350px;
}
