0.0.0.0:80 0.0.0.0:443 {

    root ./public
    log stdout
    errors stderr

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}