<?php

use Illuminate\Routing\Router;

/** @var Router $router */
$router->get('/test', function () {
    if (auth()->guest()) {
        redirect()->route('auth.login');
    }

    $selectorService = app(\OpenDominion\Services\Dominion\SelectorService::class);
    $dominion = $selectorService->getUserSelectedDominion();

    // ...

});
