<style TYPE="text/css">
<!--
font { font-family: VERDANA, ARIAL }
font.Eight { font-family: VERDANA, ARIAL; font-size: 8pt }
font.Nine { font-family: VERDANA, ARIAL; font-size: 9pt }
font.NineB { font-family: VERDANA, ARIAL; font-size: 9pt; color: beige }
font.NineBold { font-family: VERDANA, ARIAL; font-size: 9pt; font-weight: bold }
font.NineBB { font-family: VERDANA, ARIAL; font-size: 9pt; color: beige; font-weight: bold }
font.Ten { font-family: VERDANA, ARIAL; font-size: 10pt; font-weight: bold }
font.Two { font-family: VERDANA, ARIAL; font-size: 12pt }
A { text-decoration: none }
A.White { color: white }
A.Beige { color: beige }
A.blue { color: #007788 }
A.NoU { text-decoration: none }
A:Hover { text-decoration: underline; color: beige }
-->
</style>