// Card extensions.

.card-title {
  font-size: 1.1rem;
}

.card-header .card-title {
  margin-bottom: 0;
}

.btn-tool {
  background: transparent;
  border: 0;
  color: inherit;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
