@media (min-width: 768px) {
  .sidebar-menu > li > a {
    padding: 6px 5px 6px 15px;
  }
}

.sidebar-menu > li > a > .ra {
  display: inline-block;
  width: 20px;
}

.btn-app > .ra {
  font-size: 20px;
  display: block;
}

.btn-app.btn-block {
  margin: 0;
}

.box-body > p:last-child,
.box-footer > p:last-child {
  margin-bottom: 0;
}

.nyi {
  color: #aaa;
  cursor: not-allowed;
  text-decoration: line-through;
}

.scribes-menu > .active > a{
  background: rgba(0, 0, 0, 0.1);
}

// Allow inline select elements.
.form-control.form-inline {
  width: auto;
  display: inline-block;
}

.form-control {
  min-width: 80px;
}

.align-middle {
  vertical-align: middle !important;
}

// Construction
.barren-land {
  margin-top: 10px;
  font-weight: normal;
}

// Notifications dropdown
.notifications-menu .menu > li > a {
  overflow: auto !important;
  text-overflow: unset !important;
  white-space: normal !important;

  .fa {
    width: 15px !important;
  }
}

.navbar-nav > .notifications-menu > .dropdown-menu {
  width: 350px;
}

// Markdown
blockquote {
  font-size: 12px;
  margin: 0 0 15px;
  padding: 5px 20px;
}
